	H1 {color:#ff9000; font: Arial, Helvetica, sans-serif;}
	P {color:#ff9000; font-size:14pt;}
	span.date {font: sans-serif, Arial; color: #ff9000; font-size: 12pt;}
	table {font: sans-serif, Arial; color: #ff9000; font-weight: bold; font-size: 13pt;}
	ul {color:#ff9000; font-size:13pt;}
	A:visited {color:#ff7b00;}
	A:link {color:#ff7b00;}
	A:hover {color:#f30000;}
	A:active {color:#f30000;}